<a href="https://colab.research.google.com/github/Chethang0wda215/DataAnalysis-with-pyspark/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
from google.colab import files
files.upload()

Saving archive.zip to archive.zip

In [ ]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (4.0.1)
Requirement already satisfied: py4j==0.10.9.9 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.9)

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("Big Data Analysis ") \
    .getOrCreate()

spark

In [ ]:
!unzip archive.zip -d taxi_data/     # Extract to folder
df = spark.read.csv("taxi_data/*.csv", header=True, inferSchema=True)

Archive:  archive.zip
  inflating: taxi_data/original_cleaned_nyc_taxi_data_2018.csv
  inflating: taxi_data/taxi_trip_data.csv
  inflating: taxi_data/taxi_zone_geo.csv

In [ ]:
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- trip_distance: string (nullable = true)
 |-- rate_code: string (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- payment_type: string (nullable = true)
 |-- fare_amount: string (nullable = true)
 |-- extra: string (nullable = true)
 |-- mta_tax: string (nullable = true)
 |-- tip_amount: string (nullable = true)
 |-- tolls_amount: string (nullable = true)
 |-- imp_surcharge: string (nullable = true)
 |-- total_amount: string (nullable = true)
 |-- pickup_location_id: string (nullable = true)
 |-- dropoff_location_id: string (nullable = true)
 |-- year: string (nullable = true)
 |-- month: string (nullable = true)
 |-- day: string (nullable = true)
 |-- day_of_week: integer (nullable = true)
 |-- hour_of_day: integer (nullable = true)
 |-- trip_duration: double (nullable = true)
 |-- calculated_total_amount: double (nullable = true)

In [ ]:
df.count()

18320191

In [ ]:
df.show(5)

+---+-------------+---------+------------------+------------+-----------+-----+-------+----------+------------+-------------+------------+------------------+-------------------+----+-----+---+-----------+-----------+-------------+-----------------------+
|_c0|trip_distance|rate_code|store_and_fwd_flag|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|imp_surcharge|total_amount|pickup_location_id|dropoff_location_id|year|month|day|day_of_week|hour_of_day|trip_duration|calculated_total_amount|
+---+-------------+---------+------------------+------------+-----------+-----+-------+----------+------------+-------------+------------+------------------+-------------------+----+-----+---+-----------+-----------+-------------+-----------------------+
|  3|        16.97|        1|                 N|           1|       49.5|  0.0|    0.5|      5.61|        5.76|          0.3|       61.67|               231|                138|2018|    3| 29|          3|         13|       3317.0|     61.669999999999995|
|  4|        14.45|        1|                 N|           1|       45.5|  0.0|    0.5|     10.41|        5.76|          0.3|       62.47|                87|                138|2018|    3| 29|          3|         14|       3648.0|      62.46999999999999|
|  5|         11.6|        1|                 N|           1|       42.0|  0.0|    0.5|     14.57|        5.76|          0.3|       63.13|                68|                138|2018|    3| 29|          3|         14|       3540.0|     63.129999999999995|
| 10|          5.1|        1|                 N|           1|       26.5|  1.0|    0.5|      5.65|         0.0|          0.3|       33.95|               186|                 33|2018|    3| 29|          3|         16|       2585.0|     33.949999999999996|
| 12|        11.11|        1|                 N|           1|       45.5|  1.0|    0.5|     10.61|        5.76|          0.3|       63.67|               163|                138|2018|    3| 29|          3|         16|       4521.0|     63.669999999999995|
+---+-------------+---------+------------------+------------+-----------+-----+-------+----------+------------+-------------+------------+------------------+-------------------+----+-----+---+-----------+-----------+-------------+-----------------------+
only showing top 5 rows

In [ ]:
df.describe().show()

+-------+------------------+-----------------+------------------+------------------+-----------------+-----------------+-------------------+------------------+------------------+------------------+-------------------+------------------+------------------+-------------------+-----------------+-----------------+-----------------+------------------+-----------------+-----------------+-----------------------+
|summary|               _c0|    trip_distance|         rate_code|store_and_fwd_flag|     payment_type|      fare_amount|              extra|           mta_tax|        tip_amount|      tolls_amount|      imp_surcharge|      total_amount|pickup_location_id|dropoff_location_id|             year|            month|              day|       day_of_week|      hour_of_day|    trip_duration|calculated_total_amount|
+-------+------------------+-----------------+------------------+------------------+-----------------+-----------------+-------------------+------------------+------------------+------------------+-------------------+------------------+------------------+-------------------+-----------------+-----------------+-----------------+------------------+-----------------+-----------------+-----------------------+
|  count|          18320191|         18320191|          18320191|          18320191|         18319928|         18319928|           18319928|          18319928|          18319928|          18319928|           18319928|          18319928|          18319928|           18319928|         18319928|         18319928|         18319928|           8319928|          8319928|          8319928|                7656269|
|   mean| 2028707.827761348| 9.12619664136378|1.1544651588331052|         1.6029494|5.366594240981316| 15.0972346523414|0.34701767851837145|0.8708986902131929|19.789486874618703|1.1739412207208666| 0.3992856200056606|21.518083168721866| 70.58787124982288|  67.21293038815165|938.5831341308078| 86.7567621990654| 88.0232629735226|2.9501095442172094|13.81041278241831|2210.019397283246|      40.65159912335346|
| stddev|2841696.1585470713|5.882454356169612|0.6336517628691193|1.2457816727809192|5.791305011804261|53.24264148604796| 0.5661773082049626|0.4772513432643127|119.40556794817542| 2.719670901522645|0.12716704720788288| 54.71698675844019| 85.33844591467727|    89.314560786219|991.7492557551739|85.93684294757021|86.66112099417094| 1.930171256666751|6.231087718301268|4865.898132934262|      79.80749407038137|
|    min|                 1|             0.01|                 1|                 0|      0.010000000|             0.01|               -0.4|               0.0|      -0.010000000|      -0.200000000|       -0.500000000|      -0.010000000|      -0.010000000|       -0.300000000|     -0.310000000|                1|                1|                 0|                0|              1.0|                   0.31|
|    max|            999999|   Yorkville West|     Staten Island|                 Y|     99.950000000|           9999.5|                  Y|              80.8|    9999.500000000|              99.5|       80.800000000|          99619.02|      99.550000000|                 99|  99619.020000000|               99|               99|                 6|               23|         320031.0|     187437.75999999998|
+-------+------------------+-----------------+------------------+------------------+-----------------+-----------------+-------------------+------------------+------------------+------------------+-------------------+------------------+------------------+-------------------+-----------------+-----------------+-----------------+------------------+-----------------+-----------------+-----------------------+

In [ ]:
from pyspark.sql.functions import col  #false = no null in that col

df.select([
    col(c).isNull().alias(c)
    for c in df.columns
]).show()

+-----+-------------+---------+------------------+------------+-----------+-----+-------+----------+------------+-------------+------------+------------------+-------------------+-----+-----+-----+-----------+-----------+-------------+-----------------------+
|  _c0|trip_distance|rate_code|store_and_fwd_flag|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|imp_surcharge|total_amount|pickup_location_id|dropoff_location_id| year|month|  day|day_of_week|hour_of_day|trip_duration|calculated_total_amount|
+-----+-------------+---------+------------------+------------+-----------+-----+-------+----------+------------+-------------+------------+------------------+-------------------+-----+-----+-----+-----------+-----------+-------------+-----------------------+
|false|        false|    false|             false|       false|      false|false|  false|     false|       false|        false|       false|             false|              false|false|false|false|      false|      false|        false|                  false|
|false|        false|    false|             false|       false|      false|false|  false|     false|       false|        false|       false|             false|              false|false|false|false|      false|      false|        false|                  false|
|false|        false|    false|             false|       false|      false|false|  false|     false|       false|        false|       false|             false|              false|false|false|false|      false|      false|        false|                  false|
|false|        false|    false|             false|       false|      false|false|  false|     false|       false|        false|       false|             false|              false|false|false|false|      false|      false|        false|                  false|
|false|        false|    false|             false|       false|      false|false|  false|     false|       false|        false|       false|             false|              false|false|false|false|      false|      false|        false|                  false|
|false|        false|    false|             false|       false|      false|false|  false|     false|       false|        false|       false|             false|              false|false|false|false|      false|      false|        false|                  false|
|false|        false|    false|             false|       false|      false|false|  false|     false|       false|        false|       false|             false|              false|false|false|false|      false|      false|        false|                  false|
|false|        false|    false|             false|       false|      false|false|  false|     false|       false|        false|       false|             false|              false|false|false|false|      false|      false|        false|                  false|
|false|        false|    false|             false|       false|      false|false|  false|     false|       false|        false|       false|             false|              false|false|false|false|      false|      false|        false|                  false|
|false|        false|    false|             false|       false|      false|false|  false|     false|       false|        false|       false|             false|              false|false|false|false|      false|      false|        false|                  false|
|false|        false|    false|             false|       false|      false|false|  false|     false|       false|        false|       false|             false|              false|false|false|false|      false|      false|        false|                  false|
|false|        false|    false|             false|       false|      false|false|  false|     false|       false|        false|       false|             false|              false|false|false|false|      false|      false|        false|                  false|
|false|        false|    false|             false|       false|      false|false|  false|     false|       false|        false|       false|             false|              false|false|false|false|      false|      false|        false|                  false|
|false|        false|    false|             false|       false|      false|false|  false|     false|       false|        false|       false|             false|              false|false|false|false|      false|      false|        false|                  false|
|false|        false|    false|             false|       false|      false|false|  false|     false|       false|        false|       false|             false|              false|false|false|false|      false|      false|        false|                  false|
|false|        false|    false|             false|       false|      false|false|  false|     false|       false|        false|       false|             false|              false|false|false|false|      false|      false|        false|                  false|
|false|        false|    false|             false|       false|      false|false|  false|     false|       false|        false|       false|             false|              false|false|false|false|      false|      false|        false|                  false|
|false|        false|    false|             false|       false|      false|false|  false|     false|       false|        false|       false|             false|              false|false|false|false|      false|      false|        false|                  false|
|false|        false|    false|             false|       false|      false|false|  false|     false|       false|        false|       false|             false|              false|false|false|false|      false|      false|        false|                  false|
|false|        false|    false|             false|       false|      false|false|  false|     false|       false|        false|       false|             false|              false|false|false|false|      false|      false|        false|                  false|
+-----+-------------+---------+------------------+------------+-----------+-----+-------+----------+------------+-------------+------------+------------------+-------------------+-----+-----+-----+-----------+-----------+-------------+-----------------------+
only showing top 20 rows

In [ ]:
df_clean = df.dropna()  #duplicate clean big data style

In [ ]:
df_clean = df_clean.filter(df_clean.fare_amount > 0)   #Filter invalid records:

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("Big Data Analysis ") \
    .getOrCreate()

spark

In [10]:
!unzip archive.zip -d taxi_data/     # Extract to folder
df = spark.read.csv("taxi_data/*.csv", header=True, inferSchema=True)

Archive:  archive.zip
  inflating: taxi_data/original_cleaned_nyc_taxi_data_2018.csv
  inflating: taxi_data/taxi_trip_data.csv
  inflating: taxi_data/taxi_zone_geo.csv

In [13]:
df.show(5)

+---+-------------+---------+------------------+------------+-----------+-----+-------+----------+------------+-------------+------------+------------------+-------------------+----+-----+---+-----------+-----------+-------------+-----------------------+
|_c0|trip_distance|rate_code|store_and_fwd_flag|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|imp_surcharge|total_amount|pickup_location_id|dropoff_location_id|year|month|day|day_of_week|hour_of_day|trip_duration|calculated_total_amount|
+---+-------------+---------+------------------+------------+-----------+-----+-------+----------+------------+-------------+------------+------------------+-------------------+----+-----+---+-----------+-----------+-------------+-----------------------+
|  3|        16.97|        1|                 N|           1|       49.5|  0.0|    0.5|      5.61|        5.76|          0.3|       61.67|               231|                138|2018|    3| 29|          3|         13|       3317.0|     61.669999999999995|
|  4|        14.45|        1|                 N|           1|       45.5|  0.0|    0.5|     10.41|        5.76|          0.3|       62.47|                87|                138|2018|    3| 29|          3|         14|       3648.0|      62.46999999999999|
|  5|         11.6|        1|                 N|           1|       42.0|  0.0|    0.5|     14.57|        5.76|          0.3|       63.13|                68|                138|2018|    3| 29|          3|         14|       3540.0|     63.129999999999995|
| 10|          5.1|        1|                 N|           1|       26.5|  1.0|    0.5|      5.65|         0.0|          0.3|       33.95|               186|                 33|2018|    3| 29|          3|         16|       2585.0|     33.949999999999996|
| 12|        11.11|        1|                 N|           1|       45.5|  1.0|    0.5|     10.61|        5.76|          0.3|       63.67|               163|                138|2018|    3| 29|          3|         16|       4521.0|     63.669999999999995|
+---+-------------+---------+------------------+------------+-----------+-----+-------+----------+------------+-------------+------------+------------------+-------------------+----+-----+---+-----------+-----------+-------------+-----------------------+
only showing top 5 rows

In [14]:
from pyspark.sql.functions import col   # change to correct data type

df_typed = df \
    .withColumn("trip_distance", col("trip_distance").cast("double")) \
    .withColumn("fare_amount", col("fare_amount").cast("double")) \
    .withColumn("extra", col("extra").cast("double")) \
    .withColumn("mta_tax", col("mta_tax").cast("double")) \
    .withColumn("tip_amount", col("tip_amount").cast("double")) \
    .withColumn("tolls_amount", col("tolls_amount").cast("double")) \
    .withColumn("imp_surcharge", col("imp_surcharge").cast("double")) \
    .withColumn("total_amount", col("total_amount").cast("double")) \
    .withColumn("year", col("year").cast("int")) \
    .withColumn("month", col("month").cast("int")) \
    .withColumn("day", col("day").cast("int"))

In [15]:
df_typed.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- rate_code: string (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- payment_type: string (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- imp_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- pickup_location_id: string (nullable = true)
 |-- dropoff_location_id: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- day: integer (nullable = true)
 |-- day_of_week: integer (nullable = true)
 |-- hour_of_day: integer (nullable = true)
 |-- trip_duration: double (nullable = true)
 |-- calculated_total_amount: double (nullable = true)

In [16]:
df_clean = df_typed.filter(     #Remove invalid or corrupt records
    (col("trip_distance") > 0) &
    (col("fare_amount") > 0) &
    (col("total_amount") > 0)
)

In [17]:
df_clean = df_clean.dropna(subset=[    # claean null
    "pickup_location_id",
    "dropoff_location_id",
    "hour_of_day"
])

In [19]:
df_features = df_clean.withColumn(      #Feature Engineering (Big Data Friendly)1️⃣ Trip speed (distance per hour)
    "trip_speed",
    col("trip_distance") / (col("trip_duration") / 3600)
)

In [20]:
df_features = df_features.withColumn(       #Tip percentage
    "tip_percentage",
    (col("tip_amount") / col("fare_amount")) * 100
)

In [25]:
df.columns

['_c0',
 'trip_distance',
 'rate_code',
 'store_and_fwd_flag',
 'payment_type',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'imp_surcharge',
 'total_amount',
 'pickup_location_id',
 'dropoff_location_id',
 'year',
 'month',
 'day',
 'day_of_week',
 'hour_of_day',
 'trip_duration',
 'calculated_total_amount']

In [27]:
trips_by_hour = (
    df_features
    .groupBy("hour_of_day")
    .count()
    .orderBy("hour_of_day")
)

In [29]:
 from pyspark.sql.functions import col, expr

In [30]:
df_typed = df \
    .withColumn("trip_distance", expr("try_cast(trip_distance as double)")) \
    .withColumn("fare_amount", expr("try_cast(fare_amount as double)")) \
    .withColumn("extra", expr("try_cast(extra as double)")) \
    .withColumn("mta_tax", expr("try_cast(mta_tax as double)")) \
    .withColumn("tip_amount", expr("try_cast(tip_amount as double)")) \
    .withColumn("tolls_amount", expr("try_cast(tolls_amount as double)")) \
    .withColumn("imp_surcharge", expr("try_cast(imp_surcharge as double)")) \
    .withColumn("total_amount", expr("try_cast(total_amount as double)")) \
    .withColumn("year", expr("try_cast(year as int)")) \
    .withColumn("month", expr("try_cast(month as int)")) \
    .withColumn("day", expr("try_cast(day as int)"))

In [31]:
df_clean = df_clean.dropna(subset=[
    "trip_distance",
    "fare_amount",
    "total_amount",
    "hour_of_day"
])

In [34]:
df_safe = df_typed.drop("_c0")

In [35]:
from pyspark.sql.functions import col

df_clean = df_safe.filter(
    (col("trip_distance") > 0) &
    (col("fare_amount") > 0) &
    (col("total_amount") > 0)
).dropna(subset=[
    "trip_distance",
    "fare_amount",
    "total_amount",
    "hour_of_day"
])

In [36]:
df_clean = df_clean.cache()
df_clean.count()

8319928

In [37]:
trips_by_hour = df_clean.groupBy("hour_of_day") \
    .count() \
    .orderBy("hour_of_day")

In [38]:
trips_by_hour.show()

+-----------+------+
|hour_of_day| count|
+-----------+------+
|          0|295065|
|          1|175123|
|          2|114736|
|          3| 92718|
|          4|104674|
|          5|118059|
|          6|178087|
|          7|268533|
|          8|343909|
|          9|373375|
|         10|379362|
|         11|399053|
|         12|429031|
|         13|436605|
|         14|474742|
|         15|475573|
|         16|452413|
|         17|473800|
|         18|471317|
|         19|433694|
+-----------+------+
only showing top 20 rows

In [39]:
from pyspark.sql.functions import avg

avg_fare_by_hour = df_features.groupBy("hour_of_day") \
    .agg(avg("fare_amount").alias("avg_fare")) \
    .orderBy("hour_of_day")

In [41]:
df_clean.select("fare_amount").printSchema()

root
 |-- fare_amount: double (nullable = true)

In [43]:
df.select("fare_amount").where(col("fare_amount").isNull()).count()

263

In [45]:
df_clean = df_typed.filter(     #clean null
    col("fare_amount").isNotNull() &
    col("trip_distance").isNotNull() &
    col("total_amount").isNotNull()
)

In [46]:
df_clean.select("fare_amount").where(col("fare_amount").isNull()).count()

0

In [47]:
from pyspark.sql.functions import avg

avg_fare_by_hour = df_clean.groupBy("hour_of_day") \
    .agg(avg(col("fare_amount")).alias("avg_fare")) \
    .orderBy("hour_of_day")

In [48]:
avg_fare_by_hour.show()

+-----------+------------------+
|hour_of_day|          avg_fare|
+-----------+------------------+
|          0| 30.45927009303036|
|          1|29.462064891533387|
|          2| 29.98698385859713|
|          3| 29.03251202571238|
|          4|31.251976995242376|
|          5|34.932214994197814|
|          6| 34.81222093695779|
|          7| 33.14539047342412|
|          8|31.601366291664363|
|          9|31.393887458988953|
|         10|31.464638972801712|
|         11|31.365172771536617|
|         12|31.796003925124282|
|         13| 32.57117847940359|
|         14| 33.38981798534781|
|         15| 34.00108586904637|
|         16|34.262015967710916|
|         17|32.779195799915584|
|         18|31.162078452506492|
|         19|30.518997127006603|
+-----------+------------------+
only showing top 20 rows

In [49]:
df_clean = df_clean.select(
    "hour_of_day",
    "fare_amount",
    "trip_distance",
    "total_amount",
    "pickup_location_id",
    "dropoff_location_id",
    "payment_type"
)

In [50]:
df.filter(col("fare_amount").rlike("-")).select("fare_amount").show(5, False)

+-----------+
|fare_amount|
+-----------+
+-----------+

In [51]:
df_clean = df_clean.filter(col("fare_amount") < 500)

In [52]:
trips_by_day = df_features.groupBy("day_of_week") \
    .count() \
    .orderBy("count", ascending=False)

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("Big Data Analysis ") \
    .getOrCreate()

spark

In [13]:
!ls

archive.zip  sample_data

In [14]:
!ls taxi_data

ls: cannot access 'taxi_data': No such file or directory

In [17]:
from google.colab import files
uploaded = files.upload()  # CLICK HERE → Select your Kaggle ZIP file
print("Uploaded files:", list(uploaded.keys()))

Saving archive.zip to archive (1).zip
Uploaded files: ['archive (1).zip']

In [18]:
!ls

'archive (1).zip'   archive.zip   sample_data

In [19]:
!ls taxi_data

ls: cannot access 'taxi_data': No such file or directory

In [20]:
!unzip archive.zip -d taxi_data/     # Extract to folder
df = spark.read.csv("taxi_data/*.csv", header=True, inferSchema=True)

Archive:  archive.zip
  inflating: taxi_data/original_cleaned_nyc_taxi_data_2018.csv
  inflating: taxi_data/taxi_trip_data.csv
  inflating: taxi_data/taxi_zone_geo.csv

In [21]:
!ls taxi_data

original_cleaned_nyc_taxi_data_2018.csv  taxi_trip_data.csv  taxi_zone_geo.csv

In [22]:
df = spark.read.csv(
    "taxi_data/taxi_trip_data.csv",
    header=True,
    inferSchema=False
)

In [23]:
from pyspark.sql.functions import expr, col

In [29]:
df.printSchema()

root
 |-- vendor_id: string (nullable = true)
 |-- pickup_datetime: string (nullable = true)
 |-- dropoff_datetime: string (nullable = true)
 |-- passenger_count: string (nullable = true)
 |-- trip_distance: string (nullable = true)
 |-- rate_code: string (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- payment_type: string (nullable = true)
 |-- fare_amount: string (nullable = true)
 |-- extra: string (nullable = true)
 |-- mta_tax: string (nullable = true)
 |-- tip_amount: string (nullable = true)
 |-- tolls_amount: string (nullable = true)
 |-- imp_surcharge: string (nullable = true)
 |-- total_amount: string (nullable = true)
 |-- pickup_location_id: string (nullable = true)
 |-- dropoff_location_id: string (nullable = true)

In [30]:
from pyspark.sql.functions import col, expr

In [32]:
df.columns

['vendor_id',
 'pickup_datetime',
 'dropoff_datetime',
 'passenger_count',
 'trip_distance',
 'rate_code',
 'store_and_fwd_flag',
 'payment_type',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'imp_surcharge',
 'total_amount',
 'pickup_location_id',
 'dropoff_location_id']

In [33]:
from pyspark.sql.functions import to_timestamp

df_time = df.withColumn(
    "pickup_datetime",
    to_timestamp("pickup_datetime", "yyyy-MM-dd HH:mm:ss")
)

In [34]:
df_time.printSchema()

root
 |-- vendor_id: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: string (nullable = true)
 |-- passenger_count: string (nullable = true)
 |-- trip_distance: string (nullable = true)
 |-- rate_code: string (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- payment_type: string (nullable = true)
 |-- fare_amount: string (nullable = true)
 |-- extra: string (nullable = true)
 |-- mta_tax: string (nullable = true)
 |-- tip_amount: string (nullable = true)
 |-- tolls_amount: string (nullable = true)
 |-- imp_surcharge: string (nullable = true)
 |-- total_amount: string (nullable = true)
 |-- pickup_location_id: string (nullable = true)
 |-- dropoff_location_id: string (nullable = true)

In [35]:
from pyspark.sql.functions import year, month, dayofmonth, dayofweek, hour

df_time = df_time \
    .withColumn("year", year("pickup_datetime")) \
    .withColumn("month", month("pickup_datetime")) \
    .withColumn("day", dayofmonth("pickup_datetime")) \
    .withColumn("day_of_week", dayofweek("pickup_datetime")) \
    .withColumn("hour_of_day", hour("pickup_datetime"))

In [36]:
from pyspark.sql.functions import expr

df_typed = df_time \
    .withColumn("trip_distance", expr("try_cast(trip_distance as double)")) \
    .withColumn("fare_amount", expr("try_cast(fare_amount as double)")) \
    .withColumn("extra", expr("try_cast(extra as double)")) \
    .withColumn("mta_tax", expr("try_cast(mta_tax as double)")) \
    .withColumn("tip_amount", expr("try_cast(tip_amount as double)")) \
    .withColumn("tolls_amount", expr("try_cast(tolls_amount as double)")) \
    .withColumn("imp_surcharge", expr("try_cast(imp_surcharge as double)")) \
    .withColumn("total_amount", expr("try_cast(total_amount as double)"))

In [37]:
from pyspark.sql.functions import col

df_clean = df_typed.filter(
    (col("trip_distance") > 0) &
    (col("fare_amount") > 0) &
    (col("total_amount") > 0)
)

df_clean = df_clean.dropna(subset=[
    "pickup_datetime",
    "hour_of_day",
    "pickup_location_id",
    "dropoff_location_id"
])

In [38]:
trips_by_hour = df_clean.groupBy("hour_of_day") \
    .count() \
    .orderBy("hour_of_day")

In [40]:
df_clean.groupBy("day_of_week") \    #Peak Days of the Week
    .count() \
    .orderBy("count", ascending=False) \
    .show()

+-----------+-------+
|day_of_week|  count|
+-----------+-------+
|          5|1618097|
|          6|1538847|
|          4|1410803|
|          3|1382893|
|          2|1302399|
|          1|1239302|
|          7|1199668|
+-----------+-------+

In [41]:
df_clean.select(   #pipeline is now correct and stable.
    "pickup_datetime",
    "year",
    "month",
    "day_of_week",
    "hour_of_day"
).show(5)

+-------------------+----+-----+-----------+-----------+
|    pickup_datetime|year|month|day_of_week|hour_of_day|
+-------------------+----+-----+-----------+-----------+
|2018-03-29 13:37:13|2018|    3|          5|         13|
|2018-03-29 13:37:18|2018|    3|          5|         13|
|2018-03-29 13:26:57|2018|    3|          5|         13|
|2018-03-29 13:07:48|2018|    3|          5|         13|
|2018-03-29 14:19:11|2018|    3|          5|         14|
+-------------------+----+-----+-----------+-----------+
only showing top 5 rows

In [45]:
from pyspark.sql.functions import col

df_features = df_clean.withColumn(
    "tip_percentage",
    (col("tip_amount") / col("fare_amount")) * 100
)

In [46]:
df_features.printSchema()

root
 |-- vendor_id: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: string (nullable = true)
 |-- passenger_count: string (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- rate_code: string (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- payment_type: string (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- imp_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- pickup_location_id: string (nullable = true)
 |-- dropoff_location_id: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- day: integer (nullable = true)
 |-- day_of_week: integer (nullable = true)
 |-- hour_of_day: integer (nullable = true)
 |-- tip_percentage: double (nullable = true)

In [47]:
top_pickups = df_features.groupBy("pickup_location_id") \
    .count() \
    .orderBy("count", ascending=False) \
    .limit(10)

top_pickups.show()

+------------------+-------+
|pickup_location_id|  count|
+------------------+-------+
|               138|2134622|
|               132| 912781|
|               230| 320330|
|               161| 283062|
|               162| 256104|
|               186| 227770|
|                48| 219711|
|               170| 202316|
|               163| 198301|
|               236| 191732|
+------------------+-------+

In [48]:
top_dropoffs = df_features.groupBy("dropoff_location_id") \
    .count() \
    .orderBy("count", ascending=False) \
    .limit(10)

top_dropoffs.show()

+-------------------+------+
|dropoff_location_id| count|
+-------------------+------+
|                138|923445|
|                230|250825|
|                161|218956|
|                162|204374|
|                132|191801|
|                231|172497|
|                 13|169132|
|                236|165075|
|                181|162500|
|                  1|155927|
+-------------------+------+

In [49]:
revenue_by_payment = df_features.groupBy("payment_type") \   #Revenue by Payment Type
    .agg(avg("total_amount").alias("avg_total_amount"))

revenue_by_payment.show()

+------------+-----------------+
|payment_type| avg_total_amount|
+------------+-----------------+
|           3|32.63872479860679|
|           1|42.40038575346378|
|           4| 39.9576358308915|
|           2|32.44549368595532|
+------------+-----------------+

In [50]:
df_features.groupBy("hour_of_day") \      #Tip Behavior Analysis
    .agg(avg("tip_percentage").alias("avg_tip_percentage")) \
    .orderBy("hour_of_day") \
    .show()

+-----------+------------------+
|hour_of_day|avg_tip_percentage|
+-----------+------------------+
|          0|30.491824042096848|
|          1|26.188169116345172|
|          2| 28.56997820671199|
|          3| 50.64121850956258|
|          4|22.191662357241874|
|          5| 26.44123084878863|
|          6| 42.65420059102805|
|          7| 34.17333879955262|
|          8| 26.12824059619906|
|          9| 21.09301261309492|
|         10|25.885315004566667|
|         11|18.395944407618867|
|         12| 19.83349163223647|
|         13|21.378610783978512|
|         14| 21.56647926290785|
|         15|19.427986527378597|
|         16|29.812818380149857|
|         17| 21.35618779416427|
|         18|23.524220563747367|
|         19| 28.04156236601953|
+-----------+------------------+
only showing top 20 rows

In [51]:
df_features.rdd.getNumPartitions()     #Check partitions

11

In [52]:
zones = spark.read.csv(       #Load zone file:
    "taxi_data/taxi_zone_geo.csv",
    header=True,
    inferSchema=True
)

In [55]:
zones.printSchema()

root
 |-- zone_id: integer (nullable = true)
 |-- zone_name: string (nullable = true)
 |-- borough: string (nullable = true)
 |-- zone_geom: string (nullable = true)

In [56]:
from pyspark.sql.functions import col

df_features = df_features.withColumn(
    "pickup_location_id_int",
    col("pickup_location_id").cast("int")
)

In [57]:
df_zone = df_features.join(      #join
    zones,
    df_features.pickup_location_id_int == zones.zone_id,
    "left"
)

In [58]:
df_zone.select(
    "pickup_location_id",
    "zone_name",
    "borough"
).show(5)

+------------------+--------------------+---------+
|pickup_location_id|           zone_name|  borough|
+------------------+--------------------+---------+
|               161|      Midtown Center|Manhattan|
|                13|   Battery Park City|Manhattan|
|               231|TriBeCa/Civic Center|Manhattan|
|               231|TriBeCa/Civic Center|Manhattan|
|                87|Financial Distric...|Manhattan|
+------------------+--------------------+---------+
only showing top 5 rows

In [60]:
zones = spark.read.csv(
    "taxi_data/taxi_zone_geo.csv",
    header=True,
    inferSchema=True
)

In [61]:
zones.printSchema()

root
 |-- zone_id: integer (nullable = true)
 |-- zone_name: string (nullable = true)
 |-- borough: string (nullable = true)
 |-- zone_geom: string (nullable = true)

In [62]:
df_zone.groupBy("zone_name") \     # insight
    .count() \
    .orderBy(col("count").desc()) \
    .show(10, truncate=False)

+----------------------------+-------+
|zone_name                   |count  |
+----------------------------+-------+
|LaGuardia Airport           |2134622|
|JFK Airport                 |912781 |
|Times Sq/Theatre District   |320330 |
|Midtown Center              |283062 |
|Midtown East                |256104 |
|Penn Station/Madison Sq West|227770 |
|Clinton East                |219711 |
|Murray Hill                 |202316 |
|Midtown North               |198301 |
|Upper East Side North       |191732 |
+----------------------------+-------+
only showing top 10 rows

In [63]:
df_features.write \
    .mode("overwrite") \
    .parquet("output/processed_taxi_data")